.faqSection {
  margin-top: 40px;
  position: relative;
}

.faqSection::before {
  content: "";
    position: absolute;
    top: 58%;
    left: 50%;
    width: 80%;
    height: 78%;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle at center, rgba(56, 175, 1, 0.7) 70%, rgba(56, 175, 1, 0) 100%);
    border-radius: 50%;
    z-index: -1;
    pointer-events: none;
    opacity: 0.5;
    filter: blur(18px);
}@media (max-width: 768px) {
  .faqSection::before {
    width: 100%;
    height: 74%;
    top: 61%;
    left: 50%;
  }}

.faqHeader {
  text-align: center;
  margin-bottom: 40px;
}

.gradientText {
  font-size: 48px;
  font-weight: 500;
  color: #2f2f2f;
  background: #2f2f2f;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.faqContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0px;
}

.faqItem {
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.faqItem.active {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.faqQuestion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  cursor: pointer;
  user-select: none;
}

.faqQuestion h4 {
  font-size: 20px;
  color: #000;
  font-weight: 600;
  margin: 0;
}

.faqIcon {
  font-size: 30px;
    color: #ffffff;
    transition: transform 0.3s ease;
    padding: 4px 17px;
    background-color: #38af01;
    border-radius: 50%;
}

.faqItem.active .faqIcon {
  transform: rotate(180deg);
}

.faqAnswer {
  padding: 0 20px 15px 20px;
  color: #000;
  font-size: 14px;
  line-height: 1.6;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
}

.faqItem.active .faqAnswer {
  max-height: 200px; 
  padding: 15px 20px;
}


@media (max-width: 768px) {
  .gradientText {
    font-size: 36px;
  }

  .faqQuestion h4 {
    font-size: 16px;
  }

  .faqQuestion {
    padding: 12px 15px;
  }

  .faqAnswer {
    padding: 0 15px 12px 15px;
  }

  .faqItem.active .faqAnswer {
    padding: 12px 15px;
  }

  .faqIcon {
    padding: 4px 10px;
    background-color: #38af01;
}
}

@media (max-width: 480px) {
  .faqContainer {
    padding: 0 10px;
  }

  .gradientText {
    font-size: 36px;
  }

  .faqQuestion h4 {
    font-size: 14px;
  }

  .faqIcon {
    font-size: 18px;
  }
}