.whyUsSection {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0px; 
  /* background-color: #ffffff; */
  box-sizing: border-box;
  margin-top: 25px;
  position: relative;
}

.whyUsSection::before {
     content: "";
  position: absolute;
  top: 55%;
  left: -20%;
  width: 120%;
  height: 60%;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle at center, rgba(56, 175, 1, 0.7) 70%, rgba(56, 175, 1, 0) 100%);
  border-radius: 50%;
  z-index: -1;
  pointer-events: none;
  opacity: 0.5;
  filter: blur(18px);
} @media (max-width: 768px) {
  .whyUsSection::before {
    width: 100%;
    height: 30%;
    top: 75%;
    left: 50%;
  }
}

.sectionTitle {
  text-align: center;
  font-size: 48px;
  font-weight: 500;
  margin: 0 auto 40px;
  color: #2f2f2f;
  line-height: 1.2;
  max-width: 800px;
  padding: 0 20px; 
}

.whyUsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  margin: 0 auto;
  width: 100%; 
  max-width: 1200px; 
  box-sizing: border-box; 
}

.imageWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
}

.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Stretch and crop to fill */
  border-radius: 12px; /* Match card radius */
}

.whyUsCard {
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* height: 160px; */
  box-sizing: border-box;
  position: relative;
  padding-top: 70px;
}

.whyUsCard h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  color: #000;
  line-height: 1.3;
  text-align: left;
  padding-right: 40px; 
}

.whyUsCard p {
  font-size: 14px;
  color: #555;
  font-weight: 400;
  margin: 0;
  line-height: 1.4;
  text-align: left; 
}

.iconWrapper {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px; 
  right: 5px; 
}

.iconWrapper img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  display: block; 
}


.gray {
  background-color: #c2c2c2;
}


.wide {
  grid-column: span 2;
  height: 160px;
}


@media (max-width: 1024px) {
  .whyUsGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .wide {
    grid-column: span 2;
  }
}

@media (max-width: 768px) {
  .whyUsSection {
    padding: 40px 15px; 
    width: 100%;
    max-width: none;
  }

  .whyUsGrid {
    max-width: 100%; 
  }
}

@media (max-width: 640px) {
  .whyUsGrid {
    grid-template-columns: 1fr;
  }

  .wide {
    grid-column: span 1;
  }

  .sectionTitle {
    font-size: 28px;
    padding: 0 15px;
  }

  .whyUsCard {
    height: auto;
    min-height: 160px;
  }
  
  .iconWrapper {
    top: 5px;
    right: 5px;
  }
}