.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.navigation {
    height: 100%;
    width: 20vw;
    max-width: 20vw;
    min-width: 20vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: lightblue;
}

.items {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: start;
    gap: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 20px;
}

.category {
    padding: 20px;
    flex-basis: 15vw;
    height: 15vh;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 30%;
    cursor: pointer;
}

.edit {
    background-color: wheat;
    padding: 5px;
    border-radius: 5px;
    &:not(:active) {
        box-shadow: 2px 2px 1px 0 black;
    }
    &:active {
        box-shadow: inset 2px 2px 1px 0 black;
    }
}

.filter {
    border: 1px solid black;
    padding: 2px 10px;
}

.content {
    background-color: aliceblue;
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.item {
    padding: 20px;
    min-height: fit-content;
    min-width: fit-content;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30%;
    cursor: pointer;
    text-align: center;
}

.link {
    cursor: pointer;
    width: 100%;
    padding: 1vh;
    text-align: center;
    &:hover {
        background-color: aliceblue;
    }
}
.selected {
    background-color: aliceblue;
}